<!doctype html>
<html>
  <head>
    {% block head %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='js/jquery.tablesorter.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='js/bootstrap-slider.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datasci-w210.css') }}">
    <title>Real Estate - {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">
                    <img alt="Brand" height="25" class="brand" src="{{url_for('static', filename='img/search.png') }}">
                </a>
                
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li id="about" onmouseover="$(this).addClass('active');" onmouseout="$(this).removeClass('active');"><a href="/index.html">Home</a></li>
                    <li id="about" onmouseover="$(this).addClass('active');" onmouseout="$(this).removeClass('active');"><a href="/about.html">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" id="content">{% block content %}{% endblock %}</div>
    <div class="container" id="footer">
    {% block footer %}
    {% endblock %}
    </div>
  </body>
</html>
