

#chart-pane
{
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    display: none;
    opacity: 0.9;
    background-color: #333;
}

#popup
{
    width: 30em;
    height: 20em;
    position: fixed;
    background-color: white;
    color: black;
    top: 30%;
    left: 30%;
    margin-top: -10em;
    margin-left: -15em;
    padding: 2em;
    font-style: bold;
}

